#admin-section {
  /*background: url("../images/code1.jpeg") no-repeat;*/
  min-height: 100%;
  /*margin-bottom:;*/
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 25px;
}

#admin-sidebar{
  margin-top: 70px;
  /*min-height:95vh;*/
  border-radius: 3%;
}

#admin-content {
  padding-top: 75px;
  color: #333;
  width: 85%;
}

#remove-link{
  cursor: pointer;
}

#admin-content .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%; }


.edit-btn{
  color: darkslategrey;
}

#admin-sidebar{
  width: 20%;
  margin-right: 20px;
}

.admin-form{
  width: 70%;
}

.thead{
  background-color: darkslategrey !important;
  color: white;
}

th {
  cursor: pointer;
}

#pageSizeSelect{
  width: 50px;
  padding: 0;
  margin: 0;
}

#search-user-dropdown{
  font-size: 15px;
}

#user-table{
  width: 100%;
}
